<!-- show results from search page -->

<h1>Look at all these fur babies </h1>

<% pets.forEach(pet => { %>
    <% if (pet.photos.length > 0) { %>
    <div>
        

        <a href="/pets/<%=pet.id%>"><h2><%= pet.name %></h2></a>

        
        <img alt="<%= pet.type %>" src="<%= pet.photos[0].medium %>">
        
      <% }%>  
        </div>
        <%}) %>
        


