<%- include('../partials/header', {user}) %>
<!-- add input for search of pet type, age, breed, zip -->
<h3>Find your new best friend</h3>

<form action="/pets/results" method="GET">
    <label for="petType">Pet type</label>
    <input type="text" name="petType" id="petType"/>

    <!-- <label for="zipcode">zip code</label>
    <input type="zipcode" name="zipcode" id="zipcode" /> -->
    <button type="submit">Enter</button>
 
</form>

<%- include('../partials/footer') %>